#root {
    margin: 2rem;
}

.App {
    margin: 0 auto;
    max-width: 40rem;
}

.PageView {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.5rem;
}

.ParagraphBlock {
    display: flex;
}

.ParagraphBlock > input {
    flex-grow: 1;
}

.AddBlockRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.BlockSubview {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.BlockSubview > :first-child {
    flex-grow: 1;
}

.BlockSubview__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    padding: 0;
}

.Breadcrumbs {
    font-weight: 700;
    line-height: 1.5rem;
    height: 1.5rem;
}

a.Breadcrumb {
    cursor: pointer;
    text-decoration: underline;
}
