#root {
    margin: 2rem;
}

.App {
    margin: 0 auto;
    max-width: 40rem;
}

.PageView {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.5rem;
}

.ParagraphBlock {
    display: flex;
}

.ParagraphBlock > input {
    flex-grow: 1;
}

.AddBlockRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
